* {
    padding: 0;
    margin: 0;
    font-family: "Lato";
}

a {
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#header {
    background-image: url("../images/header_background.jpeg");
    background-size: cover;
    background-position: center center;
    height: 650px;
    user-select: none;
    margin-bottom: 50px;
}

#header_menu {
    display: flex;
    flex-direction: row;
    padding: 20px 150px 10px 150px;
    color: white;
}

#header_menu_slide {
    width: 0;
    flex-direction: row;
    padding: 0;
    color: white;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffffee;
    overflow-x: hidden;
    padding-top: 60px !important;
    transition-timing-function: linear;
    transition: 0.5s;
}

#header_links_slide_close {
    position: fixed;
    color: white;
    right: 0;
    overflow-x: hidden;
    width: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #015f98;
    top: 0;
    z-index: 20;
    font-size: 20px;
}

#header_menu_mobile {
    display: none;
}

    #header_menu_mobile > span {
        width: 200px;
        font-weight: bold;
        font-size: 50px;
        cursor: pointer;
    }

#header_links_slide {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

    #header_links_slide a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 20px;
        color: #333333;
        display: block;
        font-weight: bold;
        border-bottom: 1px solid #00000020;
        width: 200px;
        margin-bottom: 10px;
        transition: none;
    }

#header_menu > span {
    width: 200px;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

#header_menu > #header_links {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#header_links {
    display: flex;
    justify-content: flex-end;
}

    #header_links > a {
        align-self: center;
        padding-left: 50px;
        cursor: pointer;
    }

#header_company_description_header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 150px;
}

#header_company_description_subheader {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 20px;
}

#header_contact_us_header {
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffb560e0;
    align-self: center;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

header {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}

#offer_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}

.offer_element {
    margin-top: 10px;
    width: 300px;
    text-align: left;
    border: 30px solid #00000000;
    height: 140px;
}

.offer_group {
    display: flex;
    flex-direction: column;
}

.offer_element span {
    font-size: 20px;
    font-weight: 500;
}

.offer_element p {
    margin-top: 5px;
}

#project_provide_section {
    min-height: 200px;
    background-color: #dfedff;
    padding-bottom: 50px;
}

    #project_provide_section header {
        padding-bottom: 20px;
    }

#what_we_use {
    min-height: 200px;
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

.begin_section_wave {
    height: 30px;
    max-width: 100%;
    user-select: none;
}

#section_gray_wave {
    margin-top: -30px;
}

.provide_secion_element {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provide_secion_element_header {
    font-weight: bold;
    font-size: 20px;
}

.provide_section_element_description {
    width: 500px;
}

.provide_secion_element img {
    width: 40px;
    height: 40px;
    margin: 15px 0 15px 0;
}

.what_we_use_image_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

    .what_we_use_image_section img {
        margin: 5px 10px 5px 10px;
    }

.what_we_use_header {
    margin: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    align-self: center;
    width: 300px;
}

.default_rectangle_technology_image {
    width: 70px;
    height: 70px;
}

#logo_ios {
    width: 130px;
    height: 50px;
}

#logo_android {
    width: 170px;
    height: 60px;
}

#logo_xamarin {
    width: 150px;
    height: 60px;
}

#contact_us {
    padding-top: 20px;
}

#contact_us_form {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
}

    #contact_us_form input {
        border-radius: 1px solid gray;
    }

    #contact_us_form textarea {
        border-radius: 1px solid gray;
    }

    #contact_us_form input[type="text"] {
        width: 300px;
        height: 20px;
        align-self: center;
        margin-bottom: 10px;
    }

    #contact_us_form input[type="submit"] {
        width: 300px;
        height: 35px;
        align-self: center;
        margin-bottom: 10px;
        margin-top: 15px;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: bold;
        background-color: #5a5a5a;
    }

    #contact_us_form textarea {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 100px;
        align-self: center;
    }

    #contact_us_form label {
        width: 200px;
        font-weight: 500;
        align-self: start;
        text-align: left;
    }

#footer {
    background-color: #f8f8f8;
    margin-top: 15px;
    color: #666668;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
}

@media (max-width: 1023px) {
    #header_menu {
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

        #header_menu span {
            font-size: 35px;
        }

    #header_links {
        display: none !important;
    }

    #header_menu_mobile {
        display: flex;
        width: 40px;
        height: 30px;
        align-self: center;
    }
}

@media (max-width: 900px) {
    #header {
        min-height: 300px;
        height: 100vh;
    }

    #header_menu {
        padding: 20px 30px 20px 30px;
    }

    #header_company_description_header {
        font-size: 35px !important;
        padding: 10px;
    }

    #header_company_description_subheader {
        font-size: 30px !important;
        padding: 10px;
    }

    #offer_section {
        flex-direction: column !important;
        align-items: center;
    }

    .offer_element {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0px;
    }

        .offer_element p {
            width: 300px;
            text-align: center;
        }

        .offer_element span {
            width: 300px;
            text-align: center;
            font-weight: bold;
        }

    .provide_section_element_description {
        width: 70%;
    }

    #project_provide_section header {
        padding: 20px !important;
    }
}

@media (max-width: 370px) {
    #header_company_description_header {
        font-size: 20px !important;
    }

    #header_company_description_subheader {
        font-size: 15px !important;
    }

    #header_menu {
        padding: 20px 30px 20px 30px;
    }

    .default_rectangle_technology_image {
        width: 50px;
        height: 50px;
    }

    #logo_ios {
        width: 100px;
        height: 40px;
    }

    #logo_android {
        width: 150px;
        height: 50px;
    }

    #logo_xamarin {
        width: 130px;
        height: 50px;
    }

    header {
        font-size: 25px;
        font-weight: bold;
        color: #333333;
    }

    .offer_element span {
        font-size: 20px;
    }
}

@media (max-width: 200px) {
    #header_company_description_header {
        font-size: 20px !important;
    }

    #header_company_description_subheader {
        font-size: 15px !important;
    }
}
