@page
@model Oyacode.WEB.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Index</title>
</head>
<body>
    <div class="section" id="header">
        <div id="header_menu">
            <span>Oyacode</span>
            <div id="header_links">
                <a link="#">OFERTA</a>
                <a link="#">TECHONOLOGIE</a>
                <a link="#">KONTAKT</a>
            </div>
        </div>
        <div id="header_company_description_header">
            Rozwiązania IT dla twojego biznesu
        </div>
        <div id="header_company_description_subheader">
            <p>Aplikacje mobilne, webowe i desktopowe,</p>
            <p>wszystko w zasięgu ręki</p>
        </div>
        <a link="#" id="header_contact_us_header">Napisz do nas</a>
    </div>
    <section class="section">
        <header>
            Usługi dostosowane do twoich potrzeb
        </header>
        <div id="offer_section">
            <div class="offer_group">
                <div class="offer_element">
                    <span>Aplikacje mobilne</span>
                    <p>
                        Profesjonalne wykonanie i wsparcie
                        najnowszych technologii.
                        Oferujemy natywne aplikacje
                        na platformę Android jak i aplikacje
                        hybrydowe działające na systemach
                        iOS & Android.
                    </p>
                </div>
                <div class="offer_element">
                    <span>Aplikacje desktopowe</span>
                    <p>
                        Standardowe aplikacje instalowane
                        bezpośrednio na komputerze.
                        Ten typ aplikacji jest częstym
                        wyborem dla osób potrzebujących
                        rozwiązania dla swoich pracowników
                    </p>
                </div>
            </div>

            <div class="offer_group">
                <div class="offer_element">
                    <span>Aplikacje internetowe</span>
                    <p>
                        Oferujemy skalowalne i wydajne
                        rozwiązania do których wymagana
                        jest tylko i wyłączenie przeglądarka
                        internetowa.  Aplikacje internetowe
                        są idealnym wyborem dla biznesu który
                        ceni prostotę i nowoczesny tryb pracy.
                    </p>
                </div>
                <div class="offer_element">
                    <span>Strony WWW</span>
                    <p>
                        Twoja wizytówka w sieci.
                        To ona jest pierwszym miejscem
                        w sieci które zobaczy twój  klient.
                        Możesz na niej umieścić nazwę firmy,
                        swoje nazwisko, opis usług i wszystko
                        inne czego tylko potrzebujesz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <img src="~/images/section_begin_blue.png" class="begin_section_wave" />
    </section>
    <section class="section" id="project_provide_section">
        <header>
            Proces dostarczenia projektu
        </header>
    </section>
    <section>
        <img src="~/images/section_begin_gray.png" id="section_gray_wave" class="begin_section_wave" />
    </section>
    <section class="section" id="what_we_use_section">
        <header>
            Z czego korzystamy?
        </header>
    </section>
    <section class="section">
    </section>
    <section class="section">
    </section>
</body>
</html>
