@page
@model Oyacode.WEB.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Index</title>
</head>
<body>
    <div class="section" id="header">
        <div id="header_menu">
            <span>Oyacode</span>
            <div id="header_links">
                <a link="#">OFERTA</a>
                <a link="#">TECHONOLOGIE</a>
                <a link="#">KONTAKT</a>
            </div>
        </div>
        <div id="header_company_description_header">
            Rozwiązania IT dla twojego biznesu
        </div>
        <div id="header_company_description_subheader">
            <p>Rozwiązania mobilne, webowe i desktopowe,</p>
            <p>wszystko w zasięgu ręki</p>
        </div>
        <a link="#" id="header_contact_us_header">Napisz do nas</a>
    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
</body>
</html>
